<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#607D8B">
    <title>Healthy - Euthymia</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-blue.min.css" />
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">Healthy</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="https://euthymia.herokuapp.com">Go to Euthymia</a>
                </nav>
            </div>
        </header>
        <main class="mdl-layout__content mdl-color--grey-100">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <h1 class="display-4">Status</h1>
                </div>
                {% for status in statuses %}
                <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet
                 mdl-grid mdl-grid--no-spacing">
                    <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col
                     mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
                        <div class="mdl-card__title mdl-card--expand mdl-color--light-blue-300">
                            <h2 class="mdl-card__title-text mdl-text-color--white">{{ status.Name }}</h2>
                        </div>
                        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                          {%if status.Status == "success" %}
                          <h5 class="mdl-color-text--green-500 ">Ok</h5>
                          {% else %}
                          <h5 class="mdl-color-text--red-500 ">Failing</h5>
                           {% endif %}
                        </div>
                    </div>
                    <div class="demo-separator mdl-cell--1-col"></div>
                  </div>
                    {%endfor%}
                </div>
        </main>
        </div>
        <footer></footer>
</body>

</html>
